name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    services:
      emqx:
        image: emqx/emqx:5.8.0
        ports:
          - 1883:1883
          - 8083:8083
        options: >-
          --health-cmd "emqx ctl status"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v2
        with:
          python-version: "3.12"
      - name: Sync dependencies
        run: uv sync --extra dev --frozen
      - name: Run pytest
        run: uv run pytest
